PORT=5000
JWT_SECRET=sua_chave_secreta_aqui

# Firebase Admin SDK (Pegar no Console do Firebase > Project Settings > Service Accounts)
FIREBASE_PROJECT_ID=senai-kanban-kaua-vireis
FIREBASE_CLIENT_EMAIL=seu-email-de-servico@projeto.iam.gserviceaccount.com
# A chave privada deve estar entre aspas e as quebras de linha representadas por \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"

# Firebase Client (Opcional para o backend, mas pode ser usado)
VITE_FIREBASE_STORAGE_BUCKET=senai-kanban-kaua-vireis.appspot.com
